body{
    /* background-color: lawngreen; */
    background-image: url("https://www.alhayatp.net/upload/10-2022/article/Screenshot_35.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-size: cover; */
    background-size: 100% 100%;
    margin-left: 40%;
}
div{
    
    color: green;
    margin-right: 50%;
    
}
ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
li{
    background-color: red;
    display: inline-block;
    margin-right: 5%;
    
}

.List.link :hover{
background-color: green;

}

img{
    block-size: 180px;
}
h1{
    background-color: red;
    margin-right: 15%;
    
}